@charset "utf-8";

#headerline{
	width: 100%;
	min-width: 1263px;
	height: 300px;
	background: linear-gradient(to right bottom,rgba(0,0,0,0.6),rgba(255,255,255,0.0)),url(../img/headline.jpg) no-repeat center;
}

#headerline .center{
	width: 1263px;
	height: 300px;
	margin: 0 auto;
}
#headerline hgroup{
	padding: 100px 0 0 50px;
	
}
#headerline h2{
	color: #EEEEEE;
	font-size: 36px;
	letter-spacing: 1px;
}
#headerline h3{
	color: #EEEEEE;
	font-size: 20px;
	letter-spacing: 1px;
}
#container{
	width: 1263px;
	/*height: 1200px;*/
	margin: 30px auto;
}
#container .sidebar{
	width: 340px;
	/*height: 1200px;*/
	float: right;
/*	background-color: red;*/
}
#container .sidebox{
	border: 1px solid #EEEEEE;
	margin: 0 0 10px 0;
	text-align: center;
	/*padding: 10px 0 0 ;*/
}
#container .sidebox h2{
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 1px;
	text-indent: 8px;
	height: 40px;
	line-height: 40px;
	background-color: #fafafa;
	color: #666666;
	text-align: left;
}
#container .tag{
	padding: 10px 0;
}
#container .tag li{
	display: inline-block;
	width: 100px;
	height: 35px;
	line-height: 35px;
	margin: 2px 0;
	text-align: left;
	text-indent: 8px;
	background-color: #EEEEEE;
}
#container .tag a{
	display: block;
	color: #999999;
}
#container .tag a:hover{
	color: #FFFFFF;
	background-color: green;
}
#container .figure {
	padding: 10px 0 ;
}
#container .figure figure{
	display: inline-block;
	padding: 4px;
	color: #999;
	
}
#container .box{
	padding: 10px 0;
}
#container .box a{
	display: inline-block;
	width: 150px;
	height: 40px;
	line-height: 40px;
	margin: 2px 0;
	background-color: #EEEEEE;
	text-align: left;
	text-indent: 35px;
	color: #999;
}
#container .box a:hover{
	color: #FFFFFF;
	background-color: #777777;
}
#container .trea1{
	background: url(../img/trea1.png) no-repeat 10px center;
}
#container .trea2{
	background: url(../img/trea2.png) no-repeat 10px center;
}
#container .trea3{
	background: url(../img/trea3.png) no-repeat 10px center;
}
#container .trea4{
	background: url(../img/trea4.png) no-repeat 10px center;
}
#container .list{
	width: 910px;
	/*height: 1200px;*/
	float: left;
	/*background-color: gold;*/
}
#container .infor{
	height: 45px;
	line-height: 45px;
	background-color: #EEEEEE;
}
#container .left{
	/*background-color: indianred;*/
	
	display: inline-block;
	float: left;
}
#container .left li{
	display: inline-block;
	width: 150px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	position: relative;
	left: 1px;
}
#container .left a{
	color: #666666;
	}
#container .left li:first-child{
	background-color: #FFFFFF;
	border-top: 2px solid #458b00;
}
#container .right{
	display: inline-block;
	float: right;
	padding: 0 20px 0 0 ;
}
#container .right li{
	display: inline-block;
	background-image: green;
	width: 60px;
	height: 45px;
	line-height: 45px;
	text-align: center;
}
#container .right a{
	padding: 3px 8px;
	color: #666666;
}
#container .right a.selected,#container .right a:hover{
	background-color: green;
	color: #FFFFFF;
}